// DARK
$DARK_BG: #1B1A20;
$WHITE_100: #FFFFFF;
$WHITE_75: #ffffffbf;
$WHITE_50: #FFFFFF80;
$WHITE_30: #FFFFFF4D;
$WHITE_10: #FFFFFF1A;
$DARK_DEFAULT: #353243;
$DARK_DEFAULT_HOVER: #524f62;
$MODAL_DARK_BG: #131216;
$DARK_BG_GRADIENT: linear-gradient(0deg, #1B1A20 47.88%, transparent 100%);
$DARK_DEFAULT_GRADIENT: linear-gradient(90deg, #353243 0%, transparent 50%);
$DARK_DEFAULT_VERTICAL_GRADIENT: linear-gradient(0deg, #353243 0%, transparent 50%);
$WIREFRAME_INTERACTIVE: #8A87D7;

// LIGHT
$LIGHT_BG: #e9e7f4;
$GRAY_100: #444347;
$GRAY_50: #44434780;
$GRAY_30: #4443474d;
$GRAY_20: #44434733;
$LIGHT_DEFAULT: #8A87D7;
$LIGHT_DEFAULT_HOVER: #7E7A93;
$MODAL_LIGHT_BG: #FBFAFF;
$LIGHT_BG_GRADIENT: linear-gradient(0deg, #E9E7F4 47.88%, transparent 100%);
$LIGHT-DEFAULT-GRADIENT: linear-gradient(90deg, #B5B1C9 0%, transparent 50%);
$LIGHT-DEFAULT-VERTICAL-GRADIENT: linear-gradient(0deg, #B5B1C9 0%, transparent 50%);