.layout-container {
  height: 100%;
  display: flex;
  align-items: left;
  flex-direction: column;

  .children-container {
    height: 78%;
  }

  .nav-container {
    height: 12%;
    position: fixed;
    bottom: 0;
  }

}